*{
     text-align: center;
    }
    .main{ 
        background-color: rgba(198, 57, 169, 0.71);
         height: 100%; 
         width: 100%; position:absolute; 
         top: 0;
        }
        
        .popup{ 
            height: 400px; 
            width:40%; 
            background-color: white; 
            position: absolute; 
            top: 25%; 
            right: 25%;
            border-top-right-radius: 40px;
	        border-bottom-right-radius: 40px;
	        border-top-left-radius: 40px;
	        border-bottom-left-radius: 40px;
        }
        .popup-header{ 
            display: flex; 
            justify-content: space-between;
            padding: 0 30px 0 15px;
            border-bottom: 2px solid black;
         }